/* Tag treatment for the level helpers & examples */

tag {
    padding: 0 3px;
    color: #AAA;
    font-size: 13px;
    font-weight: bold;
}

tag:before {
    content: "<";
}

tag:after {
    content: ">";
}
